.main-logo {
  width: 26vw;
  margin: auto;
  display: block;
  height: 32vw;
  margin-top: 2vw;

  &__h3 {
    color: var(--button-color-2);
    text-align: center;
    padding: 20px 30px 10px 30px;
    font-size: 30px;
  }
  &__p {
    color: var(--button-color-2);
    text-align: center;
    padding: 20px 20px 0 20px;
  }
}
.b-btn__logo {
  text-align: center;
  border-radius: 20px;
  padding: 5px 40px 5px 40px;
  justify-content: center;
  margin-left: 100px;
}
.b-link__register {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 40px 0;
}
.config-navbar {
  overflow-y: scroll;
  height: 140vw;
  background: url(../../assets/images/backfanclub.webp);
  background-size: cover;
}
