.b-main__logo{
    width:100px;
    margin:auto;
	text-align:center;
    display: block;
    margin: 0px auto;
    margin-top: 30px;

    &__h3{
       color:white; 
       text-align: center;
       padding: 20px 30px 10px 30px;
       font-size:30px;
    }
    &__p{
        color:white; 
       text-align: center;
       padding: 0 20px 0 20px;
    }
}
.b-btn__logo{
    text-align: center;
    border-radius: 20px;
    padding: 5px 40px 5px 40px;
    justify-content: center;
    margin-left: 100px;
    
}
.b-link_register{
    text-decoration: none;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 40px 0;
}
.config-navbar {
    overflow-y: scroll;
    height: 140vw;
}