/* :root {
  --background-color: #2b2b2b;
  --background-color-1: rgb(250, 218, 94);
  --background-color-2: #ffffff;
  --gradient-color: rgb(239, 229, 229);
  --button-color-1: #e8b12d;
  --button-color-2: rgb(239, 229, 229);
  --button-color-3: rgb(250, 218, 94);
  --color-text-1: rgb(250, 218, 94);
  --color-text-2: #ffffff;
  --color-text-3: #000000;
} */
/* :root {
  --background-color: #2b2b2b;
  --background-color-1: #e8b12d;
  --background-color-2: #2b2b2b;
  --background-color-3: rgb(224, 204, 122);
  --gradient-color: rgb(239, 229, 229);
  --button-color-1: #e8b12d;
  --button-color-2: rgb(239, 229, 229);
  --button-color-3: rgb(250, 218, 94);
  --color-text-1: rgb(250, 218, 94);
  --color-text-2: #ffffff;
  --color-text-3: #000000;
} */
/* :root {
  --background-color: #2f3331;
  --background-color-1: #ffe944;
  --background-color-2: #2b2b2b;
  --background-color-3: #f7a23e;
  --gradient-color: rgb(239, 229, 229);
  --button-color-1: #ffe944;
  --button-color-2: rgb(239, 229, 229);
  --button-color-3: #f7a23e;
  --color-text-1: #f7a23e;
  --color-text-2: #ffffff;
  --color-text-3: #000000;
} */
:root {
  --background-color: #2f3331;
  --background-color-1: #ffe944;
  --background-color-2: #2b2b2b;
  --background-color-3: #4dd599;
  --gradient-color: rgb(239, 229, 229);
  --button-color-1: #ffe944;
  --button-color-2: rgb(239, 229, 229);
  --button-color-3: #4dd599;
  --color-text-1: #4dd599;
  --color-text-2: #ffffff;
  --color-text-3: #000000;
}

/* --background-color-3: #7fbb93; */
