:root {
  --background-color: #2b2b2b;
  --background-color-1: rgb(250, 218, 94);
  --background-color-2: #ffffff;
  --gradient-color: rgb(239, 229, 229);
  --button-color-1: #e8b12d;
  --button-color-2: rgb(239, 229, 229);
  --button-color-3: rgb(250, 218, 94);
  --color-text-1: rgb(250, 218, 94);
  --color-text-2: #ffffff;
  --color-text-3: #000000;
}
