.container-body {
  overflow-x: scroll;
  height: 134vw;
  -ms-overflow-style: none;
  scrollbar-width: none;

  .chat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 8vw;
    gap: 6vw;

    &__img {
      width: 90%;
    }
  }
}

.container-body::-webkit-scrollbar {
  display: none;
}
