.b-titledate {
    // color: var(--color-text-2);
    margin-left: 10px;
    color:black
  }
  
  .b-event {
    display: flex;
    justify-content: space-around;
    padding-top: 5vw;
    margin: 10px 5px 10px 5px;
  
    &__btn {
      padding: 4vw 10vw;
      border-radius: 5vw;
      border-style: none;
      text-decoration: none;
      background-color: var(--button-color-1);
      color: var(--color-text-2);
      box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
   
    }
  }
  
  .b-galleryevents {
    overflow-y: scroll;
    height: 96vw;
    -ms-overflow-style: none;
    scrollbar-width: none;
  
    .b-eventgallery {
      display: flex;
      margin: 20px;
      margin-bottom: 30px;
  
      &__info {
        width: 100%;
        background-color: rgb(250, 250, 130);
        border-radius: 15px;
      }
      &__img {
        width: 150px;
        height: 150px;
      }
    &__extrainfo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: black;
      }
      &__name {
        // color: var(--color-text-2);
        margin: 20px 10px;
        color: black;
      }
      &__btn {
        background-color: none;
        padding: 15px 25px;
        border: 1px solid var(--button-color-1);
        border-radius: 30px;
      }
      &__genres {
        margin: 0px;
        // color: var(--color-text-2);
        font-size: 10px;
        margin-left: 10px;
        color: black;
      }
      &__header {
        display: flex;
      }
  
      &__moreinfo {
        display: flex;
        color: var(--color-text-2);
        justify-content:space-around;
        font-size: 10px;
        .b-eventgallery__friends {
          margin: 0px;
        }
        .b-eventgallery__price {
          margin: 0px;
        }
      }
  
      &__footer {
        display: flex;
        flex-direction: column;
      }
    }
  
    .b-genre {
      display: flex;
    }
  }
  
  .gallery-event::-webkit-scrollbar {
    display: none;
  }
  