.body{
    background-color: black ;
}

.b-section{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.b-title{
    text-align: center;
    &__h3 {
        color: white;
}
}
.b-btn{
    background: rgb(239, 229, 229);
    color: black;
    display:inline-block;
    font-size: 1em;
    margin: 10px;
    padding:10px;
    text-align: center;
    width: auto;
    text-decoration: none;
    border-radius: 5px;
    justify-content: left;
    display: flex;
}
