.head-bar {
  width: 100%;
  height: 80px;
  background-color: #e53170;

  &__p {
    text-align: center;
    padding-top: 35px;
    font-size: 20px;
    margin: 0;
  }
}
.b-button {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;

  &__home {
    /*   padding-top: 15px;
          padding-bottom: 15px;
          padding-left: 15px; */
    padding: 15px 32px;
    border-radius: 20px;
    border-style: none;
    background-color: #ff8906;
    color: white;
  }
}
.b-greet {
  text-align: center;

  &__h1 {
    color: #e53170;
  }
  &__h2 {
    color: white;
  }
}

.gallery-container {
  overflow-y: scroll;
  height: 86vw;
}

.b-gallery {
  background-color: aqua;
  margin: 0vw 0vw 4vw 0vw;
  padding: 1vw;
  background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);

  &__title {
    text-align: center;
    color: white;
  }

  &__showcase {
    display: flex;
    overflow-x: scroll;
    gap: 1vw;
  }
  &__img {
    width: 120px;
    height: 120px;
    border-radius: 4vw;
  }
}
